body{
    font-family: monospace;
}
#animal {
    display: grid;
    grid-template-columns: 26% 26% 26%;
    margin: 0 auto;
    width: 50vw;
    align-items: center;
    justify-items: center;
     gap:10px;
}
#animal article{
    display: grid;
    align-items: start;
    justify-items: center;
}

img {
    height: 25%;
    width: 25%;
}
header{
    display: grid;
    grid-auto-flow: column;
    width:50vw;
    margin: 0 auto;
    gap: 10px;
}

header nav{
    align-items: start;
    justify-items: end;
}
/*
header img{
    align-items: start;
    justify-items: start;
}
*/